body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.nav-links {
    margin-top: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

.section {
    text-align: center;
    padding: 40px 0;
}

.about {
    background-color: #ecf0f1;
}

.skills {
    background-color:lightblue;
    color: #fff;
}

.projects {
    background-color:darkturquoise;
    color: #fff;
}

.contact {
    background-color:lightsteelblue;
    color: #fff;
}

.large-photo {
    width: 50px;
    height: 50px;
}

.medium-photo {
    width: 30px;
    height: 30px;
}

.small-photo {
    width: 25px;
    height: 25px;
}

.footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  
    bottom: 0;
    width: 100%;
}
